.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

#dressContainer{
  margin-top: 30px;
  margin-bottom: 80px;
  padding-bottom: 30px;
  display: grid;
  background-color: #7a6f7356;

}

#middleButtonContainer{
    display: flex;
    justify-content: center;
}

#datePickerContainer{
  display: flex;
  justify-content: center;
}


.overflow{
  inline-size: 200px;
  overflow-wrap: break-word;
}

.containerMessage {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  background-color: #ddd;
  border-color: #ccc;
}

.containerMessage::after{
  content: "";
  clear: both;
  display: table;
}

.messageImageUser {
  float: left;
  max-width: 60px;
  width: 40%;
  margin-right: 20px;
  border-radius: 50%;
}
.righter {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

#containerSpinner{
  display:flex;
  justify-content: center;
  padding-top: 50px;
}